.hero:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 0%; */
    
    
  }
*{
    margin: 0;
    padding: 0;
}
/*------------------------ header -----------------------------------------------*/
.container1{
    width: 100%;
    min-height: 40vh;
    padding-left: 2%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-logo{
    /* position: absolute; */
    left: 0.7%;
    right: 88.67%;
    top: 0%;
    bottom: 6.68%;
  }
  .menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color:#78A92D;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  nav ul li a:hover{
    color:#333;
  }
.background_img{
    width: 100%;
    height: 100vh;
    margin-top: -13%;
    
   
}
.hero_content{
    margin-top: -49%;
    margin-left: 40%;
}
.small_logo{
    margin-top: 6%;
    height: 41vh;
}
.refer{
    font-size: 2.2rem;
    color: 
    #78A92D
    ;
    font-weight: 700;
    margin-left: -4%;
}
.btn{
    height: 8vh;
    width: 13vw;
    margin-left: 43%;
    margin-top: 0%;
    border-radius: 17px;
    border: 0px;
    color: black;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 10 ;
}
.orange_text{
    color: orange;
    font-size: 2.5rem;
    margin-left: 7%;
}
.gift_left{
    height: 45vh;
    margin-top: -230px;
    margin-left: 10%;
}
.gift_right{
    height: 40vh;
    margin-left: 79%;
    margin-top: -25%;
}
.parent_one{
    display: flex;
}
.img_left{
    height: 70vh;
    margin-left: 10%;
}
.subs{
    font-size: 3rem;
    margin-top: 20%;
    margin-left: 20%;
    color: #78A92D;
}
.parent_two{
    display: flex;
}

.img_right{
    height: 80vh;
}
.child_left_two{
    font-size: 2rem;
    margin-top: 20%;
    margin-left: 10%;
}
.color_text{
    color: #78A92D;
}
.wrapper{
    position: absolute;
    margin-top: -12.6%;
    margin-left: -18%;
    width: 60vw;
  
} 
.ord{
    margin-top: 10%;
    color: #CF2129;
    border-radius: 24px;
    font-size: 2rem;
    margin-left: -10%;
    background: rgb(1, 1, 27); 

}
@media only screen and (max-width: 428px){
    .background_img{
        width: 100vw;
        height: 60vh;
        margin-top: -100%;
       
    }
    .order{
        font-size: 0.9rem;
        margin-left: -10%;
        margin-top: -90%;
    }
    .small_logo{
        height: 22vh;
        margin-left: 0%;
    }
    .refer{
        font-size: 0.6rem;
        margin-top: 5%;
    }
    .btn{
        height: 5vh;
        font-size: 0.3rem;
        margin-top: 4%;
        background-color: orange;
    }

    .gift_left{
        height: 30vh;
    }
    .gift_right{
        height: 20vh;
    }
    .parent_one{
        display: flex;
        flex-direction: column;
    }
    .parent_two{
        display: flex;
        flex-direction: column-reverse;
    }
    .img_left{
        height: 50vh;
        margin-left: 20%;
    }
    .subs{
        font-size: 1.6rem;
    }
    .subs2{
        font-size: 1rem;
        margin-left: 10%;
        
    }
    .img_right{
        height: 50vh;
        margin-left: 10%;
    }
}



@media only screen and (max-width: 413px){
    .background_img{
        width: 100%;
        height: 30vh;
       
    }
    .btn{
        margin-left: 43%;
        margin-top: -4%;
        height: 4vh;
        width: 15vw;
        font-size: 0.6rem;
    }
    .refer{
        margin-top: -4%;
        font-size: 100%;
        margin-left: -12%;
    }
    .orange_text{
        font-size: 100%;
    }
    .small_logo{
        height: 15vh;
        margin-left: -5%;
        margin-top: -14%;
        
    }
    .gift_left{
        
        margin-left: 10%;
        height: 12vh;
        margin-top: -29%;
    }
    .gift_right{
        height:10vh ;
        margin-left: 30%;

    }
    .img_left{
        height: 30vh;
        margin-left: 9%;
    }
    .img_right{
        height: 30vh;
    }
    .subs{
        font-size: 1.7rem;
        margin-left: 2%;
    }
    .subs2{
        font-size: 1.5rem;
        margin-left: -7%;
    }
    .footer-mail{
        margin-left: -41%;
    }
}

@media only screen and (max-width:700px){

    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
  }

  @media only screen and (max-width:413px){
    .image-down{
      display: none;
    }
    .footer-sections{
      /* margin-top: 3vh; */
      display: flex;
      /* flex-direction:column; */
    }
    .side-ques-text{
      /* line-height: 1.6rem !important; */
      /* width: 263% !important; */
      margin-top: 145%;
      text-align: center;
      height: 20%;
      justify-content: center;
    }
  
    
    .footer-green-img{
      margin-top: -14vh;
    }
    .sec-timings{
      display:none;
    }
    
  
    .side-ques{
      margin-top: 56%;
      /* margin-left: -60%; */
      margin-left: auto;
      margin-right: auto;
      display: block;
      /* width: 50vw; */
      /* display: flex;
      flex-direction: column; */
      
    }
    .sec-homians{
      /* display: flex; */
      margin-top:11vh;
      font-size:1rem;

      
    }
    .sec-contact-us h2{
      font-size: 1.4rem;
      line-height: 1.3rem;
      width: 30vw;
    }
    .devesh{
      display: flex;
    }
    .sec-contact-us{
      margin-top: 26%;
      /* margin-left: 5% ; */
      /* width:12vw; */
      
      font-size:.9rem;
  
    }
    .bottom-footer{
      
      margin-top: -56vh !important;
     width: 45% !important;
     margin-left: 2%  ;
     margin-right: auto;
     display: block;
    }
    .mail-box{
      width: 400%; 
      margin-left:-310%;
      padding: 5px;
      
    }
    .outer-box{
        width: 100%;
        margin-top: 10%;
    }
    .footer-mail{
      width: 100%;
      margin-left: 3%;
    }
  
    .send-button{
      margin-top: .8%;
      margin-left: -11%;
      width: 10%;
      font-size: .8rem;
    }
    .trademark{
      display:none;
    }
    .homians-list{
      /* margin-left: 6%; */
      /* width:10vw !important; */
      margin-top: 12%;
  
    }
    .contact-us-list{
      margin-top: 15%;
      margin-left: 4%;
      width: 15vw;
  
    
    }
    .section3{
      height: 35vh;
    }
    .list{
      line-height: 1.4rem;
      width: 213%;
      display:flex;
  
    }
    .hyperlink{
      margin-top: -3%;
      display: flex;
    }
  
  }

   /* @media only screen and (max-width:375px){
      .background_img{
          width: 100%;
          height: 100%;
      }
      .small_logo{
          width: 10vw;
          height: 20vh;
          margin-top: 10%;
      }
      .img_left{
        height: 27vh;
        margin-left: 12%;
    
      }
      .gift_right{
        
          margin-right: -25% !important;     
      }

      .sec-contact-us h2{
          font-size: 1rem;
          width: 1%;
      }



  }  















 */

  /* ######## Footer ############################## */

  .footer{
    /* margin: 0; */
    margin-top: 20%;
    justify-content:center;
    display: flex;
  }
  .container{
    display:flex;
  }
  .image-down{
    position: absolute;
    width: 63%;
    margin-left:22%;
    /* height: 50vh; */
    /* margin-top: 100%; */
  }
  .footer-green-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 96vh;
  }
  .footer-sections{
    position: absolute;
    display:flex;
    margin-top: 30%;
    
    /* margin-left:10%; */
  }
  .sec-homians{
    margin-left: 6%;
   
    
  }
  .sec-homians h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
  }
  
  .list{
    list-style: none;
  }
   a:visited{
    color:black;
    /* text-decoration: none; */
  }
  .hyperlink{
    text-decoration: none;
  
  }
  
  .sec-contact-us {
    margin-left: 10%;
    /* display:flex; */
    /* width: 25vw; */
  }
  .homians-list{
    width:10vw;
  }
  .contact-us-list{
    width: 15vw;
  
  }
  .sec-contact-us h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
  
  }
  .sec-timings{
      margin-left:18%;
  }
  .sec-timings h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    width: 20vw;
  
  }
  .side-ques{
    margin-left: 13%;
    /* display:flex;
    flex-direction: column; */
  }
  .side-ques h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    width: 20vw;
    
  
  }
  .footer-logo{
    /* display: none; */
    display: flex;
    flex-direction: column;
  }
  .bottom-footer{
    width: 15vw;
    margin-top: -5%;
    
  }
  .footer-mail{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 23px;
    /* border-color: rgba(255, 255, 255, 0.4);
    box-shadow:rgba(97, 97, 97, 0.462); */
    border:0;
    width: 60%;
    height:3vh;
  }
  .send-button{
    position:absolute;
    margin-left: -5%;
    border: 0;
    border-radius: 13px;
    background:  rgba(120, 169, 45, 0.8);
    font-size: 1rem;
    height: 2.3vh;
    color:#F9F9F9;
    margin-top:0.4%;
    width:3vw;
  }
  .outer-box{
    margin-top: 5%;
  }
  .trademark{
    /* position: absolute; */
    /* justify-content: center; */
    text-align: center;
    /* margin-top: 34%; */
  }
  .trademark-text{
    position: absolute;
    margin-top: 43.5% !important;
    text-align: center;
  }
